body {
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 400;
}

/* Navbar */
.navbar-dark.bg-dark {
  background-color: #000 !important;
  padding: 10px 0;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link,
.btn-custom {
  display: flex;
  align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  margin-right: 15px;
  transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

/* Custom button style */
.btn-custom {
  background-color: #fff;
  color: #000;
  border: none;
  margin-right: 0;
  padding-right: 15px;
}

.btn-custom:hover {
  background-color: #ccc;
  color: #000;
}

/* Hero Section */
section.text-white h1 {
  font-weight: 700;
}

/* Service */
.bg-white {
  background-color: #fff;
  color: #000;
  padding: 5rem 0;
}

.bg-white p {
  font-size: 40px;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.bg-white strong {
  font-size: 20px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

.bg-white a {
  color: #000;
  text-decoration: none;
}

.bg-white img {
  vertical-align: middle;
}

/* Footer */
footer.bg-dark {
  background-color: #000 !important;
}

footer img {
  max-height: 40px;
}

footer a {
  color: rgba(255, 255, 255, 0.9);
  margin-right: 0;
  transition: color 0.3s;
}

footer a:hover {
  color: rgba(255, 255, 255, 1);
}

.up-arrow {
  display: block;
  margin-top: 10px;
  max-height: 20px;
}

.social-icon {
  text-decoration: none;
}

/* Animations */
/* Estilos para el contenedor de la palabra que cambia */
#changing-word {
  display: inline-block;
  overflow: visible;
  vertical-align: bottom;
  height: auto;
}

.word-container {
  display: inline-block;
}

/* Fade In Up Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-image {
  animation: fadeInUp 0.5s ease-out forwards;
}

/* Hover Underline Animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  background: black;
  transition: width 0.3s;
}

.hover-underline-animation:hover::after {
  width: 100%;
}